@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';
@import '../../scss//extends.scss';


.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/homepageBg.jpg');
    background-size: cover;
    height: 90vh;

    .welcome-message {
        @extend %element-box;
        @extend %welcome-message;        
    }
}