@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';
@import '../../scss/extends.scss';

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    

    .login-container {
        @extend %element-box;
        background-color: rgb(127, 94, 204);
        display: flex;
        width: 15%;        
        flex-direction: column;
        justify-content: space-around;
        padding: 2%;
        margin-top: -10%;                

        input {
            padding: 0.5rem;
            margin-top: 0.5rem;
            border-radius: 6px;
        }

        label {
            font-weight: bold;
        }

        // button {
        //     background-color: rgb(127, 94, 204);
        //     border: 2px solid rgb(29, 1, 65);
        //     padding: 0.5rem;
        //     font-weight: bold;
        //     color: white;

        //     &:hover {
        //         background-color: $header-color;
        //     }
        // }

        button {
            background: rgb(29, 1, 65);
            border-radius: 6px;
            padding: 0.5rem;
            font-weight: bold;
            color: white;
        }

        .errorMsg {
            color: rgb(73, 187, 149);
            font-weight: bold;
        }

        p {
            font-weight: bold;
        }

        span {
            padding: 0.5rem;
            border-radius: 6px;
            &:hover {
                background: $header-color;
            }
        }
    }
}

